<nav>
    <ul>
        <li {% if page.url=="/syllabus/" %}class="active" {% endif %}><a href="{{site.baseurl}}/syllabus/">Syllabus</a>
        </li>
        <li {% if page.url=="/" or page.url contains "/schedule/" %}class="active" {% endif %}><a
                href="{{site.baseurl}}/">Schedule</a></li>
        <li {% if page.url contains "/assignments/" %}class="active" {% endif %}><a
                href="{{site.baseurl}}/assignments/">Assignments</a></li>
        <li {% if page.url contains "resources" %}class="active" {% endif %}><a href="{{site.baseurl}}/resources/">Web
                Reference</a></li>
        <li><a href="https://drive.google.com/drive/folders/1LqUWReoyqDSOHq3PyGYZvbgdll0_SHl6?usp=sharing"
                target="_blank">Lecture Recordings</a></li>
    </ul>
</nav>