{% assign topic = page || topic %}
{% assign lecture = topic | get_lectures_by_topic: site | filter_list_by_date: date | first %}
{% assign tutorial = topic | get_tutorials_by_topic: site | filter_list_by_date: date | first %}
{% assign readings = lecture.readings %}
{% if tutorial.readings.size > 0 %}
    {% assign readings = readings | concat: tutorial.readings %}
{% endif %}

<!-- Required Readings -->
{% assign required_readings = readings | filter_readings: "required" %}
{% if required_readings.size > 0 %}
Required:
<ul>
    {% for reading in required_readings %}
    <li class="mb-4">
        {{ reading | display_reading }}
    </li>
    {% endfor %}
</ul>
{% endif %}

<!-- Skimmable Readings -->
{% assign skim_readings = readings | filter_readings: "skim" %}
{% if skim_readings.size > 0 %}
Skim:
<ul>
    {% for reading in skim_readings %}
    <li class="mb-4">
        {{ reading | display_reading }}
    </li>
    {% endfor %}
</ul>
{% endif %}

<!-- Pick One Readings -->
{% assign pick_one_readings = readings | filter_readings: "pick_one" %}
{% if pick_one_readings.size > 0 %}
Pick One:
<ul>
    {% for reading in pick_one_readings %}
    <li class="mb-4">
        {{ reading | display_reading }}
    </li>
    {% endfor %}
</ul>
{% endif %}

<!-- Optional Readings -->
{% assign optional_readings = readings | filter_readings: "optional" %}
{% if optional_readings.size > 0 %}
Optional:
<ul>
    {% for reading in optional_readings %}
    <li class="mb-4">
        {{ reading | display_reading }}
    </li>
    {% endfor %}
</ul>
{% endif %}

