{% if page.due_date %}
    {% assign dateStart = site.term_start_date | date: '%s' %}
    {% assign lectureDate = page.due_date | date: '%s' %}
    {% assign diffSeconds = lectureDate | minus: dateStart %}
    {% assign diffDays = diffSeconds | divided_by: 3600 | divided_by: 24 | plus: 1 %}
    {% assign week = diffDays | divided_by: 7 | plus: 1 %}
{% endif %}
{% if page.title %}
    {% if page.layout == 'assignment' or page.layout == 'assignment-two-column' or page.type == "tutorial" %}
        <h1>
            <a href="../assignments/">Assignments</a> > 
            {{page.abbreviation}}: {{ page.title }}
        </h1>
    {% elsif page.type == 'topic' %}

        {% assign prefix = "" %}
        {% if page.num %}
            {% assign prefix = page.num | append: ". " %}
        {% endif %}
        <h1>
            <a href="../">Topics</a> > {{prefix}} {{ page.title }}
        </h1>
        
        {% if page.due_date %}
            <div class="subtitle">
                Week {{ week }}: {{ page.due_date  | date: "%a, %b %-d" }}
            </div>
        {% endif %}
    {% else %}
        <h1>{{ page.title }}</h1>
    {% endif %}
{% endif %}