{% assign tutorials = site.assignments | where: 'type', 'tutorial' %}


<div class="schedule-simple">
    <div class="header">
        <h2 id="schedule">Weekly Topics & Tutorials</h2>
        <p>Note that these topics are subject to change.</p>
    </div>
    <div class="group">
        <h3>Topics</h3>
        <ol>
            {% for topic in site.topics %}
            <li>

                {% if topic.draft == 1 %}
                {{ topic.title }}
                {% else %}
                <a href="{{site.baseurl}}{{topic.url}}">{{ topic.title }}</a>
                {% endif %}
            </li>
            {% endfor %}
        </ol>
    </div>

    <div class="group">
        <h3>Tutorials</h3>
        <ol>
            {% for lab in tutorials %}
            <li>

                {% if lab.draft == 1 %}
                {{ lab.title }}
                {% else %}
                <a href="{{site.baseurl}}{{lab.url}}">{{ lab.title }}</a>
                {% endif %}
            </li>
            {% endfor %}
        </ol>
    </div>
</div>