
{% assign sortedPages = site.resources | sort: 'nav_order' %}

<ol class="side-menu">
{% for p in sortedPages %}
    {% if p.has_children %}
        <li>
            {% assign cls = "" %}
            {% if p.url == page.url %}
                {% assign cls = "active" %}
            {% endif %}
            <a href="{{site.baseurl}}{{p.url}}" class="{{cls}}">{{ p.title }}</a>

            <!-- Bookmarks for top-level pages -->
            {% if p.url == page.url %}
                {% include toc.html html=p.content ordered=true class="white" %}
            {% endif %}
            <ol>
                {% for child in sortedPages %}
                {% if p.title == child.parent %}
                    <li>
                        {% assign cls = "" %}
                        {% if child.url == page.url %}
                            {% assign cls = "active" %}
                        {% endif %}
                        <a href="{{site.baseurl}}{{child.url}}" class="{{cls}}">{{ child.nav_order }}. {{ child.title }}</a>
                        
                        <!-- Bookmarks for child pages -->
                        {% if child.url == page.url %}
                            {% include toc.html html=child.content ordered=true class="white" %}
                        {% endif %}
                    </li>
                {% endif %}
                {% endfor %}
            </ol>
        </li>
    {% endif %}
{% endfor %}
</ol>