{:.info}
> ## Video Walkthroughs for Tutorial 9
>
> This video walkthrough was made during Helene. We are using a different approach to managing dependencies this
semester (using poetry instead of python's `venv` module), but everything else should be the same.
>
> 1. <span class="update">12:12</span> <a
    href="https://drive.google.com/file/d/1LaOsFkX0yBiMvHwyd9Rdfwh9Kg207GU9/view?usp=drive_link"
    target="_blank">Exercise 1</a>
> 1. <span class="update">06:15</span> <a
    href="https://drive.google.com/file/d/1W8ot-pst_MR3y8J63k4uJW-hP8SaLYp8/view?usp=drive_link"
    target="_blank">Exercise 2</a>
> 1. <span class="update">10:51</span> <a
    href="https://drive.google.com/file/d/1nb4cI0AtEUup5j2ulb5WrtvlLQiCUiMA/view?usp=drive_link"
    target="_blank">Exercise 3</a>
> 1. <span class="update">13:26</span> <a
    href="https://drive.google.com/file/d/13N0hSMg3IRZx7Bk0uQfgYWQQEH43rWJB/view?usp=drive_link"
    target="_blank">Exercise 4</a>
> 1. <span class="update">14:18</span> <a
    href="https://drive.google.com/file/d/1uyA6cAEP8u9glWpy3Jh7g5m3gaoPpAxz/view?usp=drive_link"
    target="_blank">Exercise 5</a>
>
> The folder of videos can also be found <a
    href="https://drive.google.com/drive/folders/1lueba1ca4mWlfQmd5lqztwdYNLXaVnkb?usp=drive_link"
    target="_blank">here</a>.