{:.info}
> ## Video Walkthroughs
> The folder of videos can be found <a
    href="https://drive.google.com/drive/folders/1Uo3zTQRFfeN5LD7NIVkCPp0Wax7KxCE1?usp=drive_link"
    target="_blank">here</a>. I've also linked them individually:
> 1. <span class="update">from 11/4 lecture</span> <a
    href="https://drive.google.com/file/d/12gBzirwsHVW7aiRll2Tb5gAYgANyN9vl/view?usp=drive_link" target="_blank">React
    Set Up</a>
> 1. <span class="update">from 11/4 lecture</span> <a
    href="https://drive.google.com/file/d/1ENP2Pk_4XgNFiRGjFuIanwvD6ZtiGoPm/view?usp=drive_link" target="_blank">What is
    a component?</a>
> 1. <span class="update">from 11/4 lecture</span> <a
    href="https://drive.google.com/file/d/1WJ0p2DEEWSVOeB5Oni3AzzSXWmSWo7_p/view?usp=drive_link" target="_blank">Making
    a "Profile" component</a>
> 1. <span class="update">New</span> <a
    href="https://drive.google.com/file/d/1X0JsVC7e65Ro7uZFPmNEgz_duu3V6mx6/view?usp=drive_link"
    target="_blank">Customizing your "Profile" component</a>
> 1. <span class="update">New</span> <a href="https://drive.google.com/file/d/1V7z1NX8tgZwKxKNUlrhJZV880hLVXPJA/view?usp=sharing" target="_blank">Generating "Profile" components from data</a>
> 1. <span class="update">New</span> <a href="https://drive.google.com/file/d/1TcIJ66hyegTBgdYw490SNmRpQSpgGvMX/view?usp=drive_link" target="_blank">State variables</a>
> 1. <span class="update">New</span> <a href="https://drive.google.com/file/d/1V6wDR9mYt4lA8W5O9H1jpvDfWSAfVMuT/view?usp=drive_link" target="_blank">Generating "Profile"
    components from server data</a>