{:.info}
> ## Video Walkthroughs for Homework 5
The following video walkthroughs go over the concepts needed to complete Homework 5.
> 1. <span class="update">07:55</span> <a
    href="https://drive.google.com/file/d/1XmDmpGiW82PPzw07tEeRNP-6UqjkxiVn/view?usp=drive_link"
    target="_blank">Introduction</a>
> 1. <span class="update">07:23</span> <a
    href="https://drive.google.com/file/d/1IHHQDBbt6jn16c0arUNffkXydltxmZIk/view?usp=drive_link" target="_blank">Create
    a database</a>
> 1. <span class="update">04:24</span> <a
    href="https://drive.google.com/file/d/1m9mTtMAd83NLRQiYV2WT8pJezaIh3lnv/view?usp=drive_link"
    target="_blank">Database connection string</a>
> 1. <span class="update">11:02</span> <a
    href="https://drive.google.com/file/d/1DtyZi2XxAH8MAbVFA3mP4WzfwsoxOSUB/view?usp=drive_link"
    target="_blank">Populating your database</a>
> 1. <span class="update">04:34</span> <a
    href="https://drive.google.com/file/d/1U7-jc5amZjb4vFh4PTN3OdL3Xb_aTXB5/view?usp=drive_link" target="_blank">Verify
    your installation / configuration</a>
> 1. <span class="update">19:25</span> <a
    href="https://drive.google.com/file/d/1F__fY919h-Ec7HcJ0xc7UPhkbhb6T07b/view?usp=drive_link"
    target="_blank">SQLAlchemy - Part 1</a>
> 1. <span class="update">11:28</span> <a
    href="https://drive.google.com/file/d/1KYpOGmSU1EzaqJyJuah-VhbE7ydfo9Y8/view?usp=drive_link"
    target="_blank">SQLAlchemy - Part 2</a>
> 1. <span class="update">10:57</span> <a
    href="https://drive.google.com/file/d/1ii-C_-C4TrYO23yOutGSnfdC8XPcDsc1/view?usp=drive_link" target="_blank">Flask
    RESTful</a>
> 1. <span class="update">06:38</span> <a
    href="https://drive.google.com/file/d/1nm6_9N69BKEuJ2u2lcNogo6l55KkZhqL/view?usp=drive_link"
    target="_blank">Business Rules</a>
> 1. <span class="update">10:03</span> <a
    href="https://drive.google.com/file/d/1tRiq-TjrhOI3lB5x3ebw99_mD9Zv2kLq/view?usp=drive_link"
    target="_blank">Postman</a>
> 1. <span class="update">14:17</span> <a
    href="https://drive.google.com/file/d/19K00Pau6E3rwtgkn6_0Z_X63K57d9-zI/view?usp=drive_link" target="_blank">Get a
    list of Post objects (/api/post)</a>
> 1. <span class="update">13:34</span> <a
    href="https://drive.google.com/file/d/1vLcSC4AqoJrQagjydXqMrUJEwHMMOUO4/view?usp=drive_link" target="_blank">Get a
    single Post object (e.g., /api/posts/3)</a>
> 1. <span class="update">21:07</span> <a
    href="https://drive.google.com/file/d/1F60VEnvAWd0FgvTFEHmzzkxXbSQVe90R/view?usp=drive_link" target="_blank">Create
    a Post object</a>
> The folder of videos can also be found <a
    href="https://drive.google.com/file/d/1XmDmpGiW82PPzw07tEeRNP-6UqjkxiVn/view?usp=drive_link"
    target="_blank">here</a>.