{:.info}
> ## Video Walkthroughs
> The folder of videos can be found <a href="https://drive.google.com/drive/folders/1vvFKNgwluLpnHArDkrVBhgpdZG0D8iV-" target="_blank">here</a>. I've also linked them individually: 
> 1. <span class="update">from 11/1 lecture</span> <a href="https://drive.google.com/file/d/1843pxACm48d3M53ybH3HBFc-gwLGc1li/view?usp=drive_link" target="_blank">Set Up</a> 
> 1. <span class="update">from 11/1 lecture</span> <a href="https://drive.google.com/file/d/1rFiiW4IjxvICFGBYoQR6fGAx9ay331UZ/view?usp=drive_link" target="_blank">Retrieving Posts</a>
> 1. <span class="update">from 11/1 lecture</span> <a href="https://drive.google.com/file/d/1Q7o0pOyFj2Eboh4e0A-Ah0yxnh0ZR46D/view?usp=drive_link" target="_blank">Rendering the Post (Part 1)</a>
> 1. <span class="update">New</span> <a href="https://drive.google.com/file/d/1siy37tm4HdWMycUrCTVGiF7mSOnvgAXa/view?usp=drive_link" target="_blank">Rendering the Post (Part 2)</a>
> 1. <span class="update">New</span> <a href="https://drive.google.com/file/d/17B5u4obQInfXDOVi1nuYTNmZJrjvQPt-/view?usp=drive_link" target="_blank">Rendering the Post (Part 3): Comments</a>
> 1. <span class="update">New</span> <a href="https://drive.google.com/file/d/1owdSY08MZGJPAH5vMqC9FI-4bApu6E_9/view?usp=drive_link" target="_blank">Rendering the Post (Part 4): Buttons</a>
> 1. <span class="update">New</span> <a href="https://drive.google.com/file/d/1xHYJ8AK3XAGCWJKlDS5ASwPi-9QMgHCR/view?usp=drive_link" target="_blank">Creating Bookmarks</a>
> 1. <span class="update">New</span> <a href="https://drive.google.com/file/d/1WEmRCxorxdKyDqEEInF_wyS8cdoGI01H/view?usp=drive_link" target="_blank">Deleting Bookmarks</a>
