table {
    border-top: solid 1px #444;
    border-bottom: solid 1px #444;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 30px;

    td, th {
        font-size: 0.9em;
        line-height: 1.5em;
        margin-top: 5px;
        vertical-align: top;
        ul {
            margin-bottom: 0px;
            li {
                line-height: 1.5em;
                font-size: 1em;
            }
        }
    }
    td {
        font-family: 'Montserrat', sans-serif;
        strong, i, a.lec, a.hw, a.pj {
            font-family: 'Montserrat', sans-serif;
        }
    }

    thead tr:first-child {
        border-bottom: solid 1px #444;
    }

    // tr.section {
    //     // td, th {
    //     //     border-top: solid 1px #444;
    //     // }
    //     td:nth-child(3) {
    //         // font-weight: 600;
    //         // text-transform: uppercase;
    //         span, a {
    //             font-weight: normal;
    //         }
    //     }
    // }
    tr.holiday {
        td, th {
            background: #F3F3F3;
        }
    }

    tr {
        border-bottom: dotted 1px #CCC;
    }

    td, th {
        padding: 8px;
    }
    th {
        font-weight: 500;
        min-width: 60px;
        text-align: left;
    }
}

table.xsmall {
    width: 250px !important;
}
table.small {
    width: 400px !important;
}
table.medium {
    width: 600px !important;

    &.module {
        td:nth-child(2) {
            max-width: 320px;
        }
    }
}