---
layout: default
---

<style>
    h2 a,
    h2 a:hover {
        border-bottom: dotted 1px !important;
        /* background-color: transparent; */
    }

    td .reading,
    td .lecture,
    td .badge,
    td .lab,
    td .activity {
        font-size: 0.8rem !important;
    }

    .mb-1 {
        margin-bottom: 4px;
    }

    .reading {
        vertical-align: bottom;
    }

    .inline-block span {
        font-weight: 500;
    }

    .assignments.topics ul {
        padding: 0;
        padding-left: 35px;
        margin-top: 5px;
        margin-bottom: 15px;
    }

    .assignments.topics table {
        margin-bottom: 50px;
        border-color: #CCC;
        border-width: 0px;
    }

    .assignments.topics table tr {
        display: grid;
        grid-template-columns: 80px 80px 300px 1fr;
        border-bottom: dotted 1px #CCC;
    }

    .assignments.topics table th:nth-child(2),
    .assignments.topics table td:nth-child(2) {
        min-width: 120px;
    }
    .assignments.topics p,
    .assignments.li {
        margin-bottom: 10;
        line-height: 1.6em;
    }

    .card {
        border: solid 1px #F9F9F9;
        border-radius: 6px;
        padding: 20px;
        background-color: #FAFAFA;
        margin-bottom: 20px;
    }



    @media screen and (max-width: 1000px) {
        main {
            padding-left: 20px;
            padding-right: 20px;
        }

        .assignments.topics table tr {
            display: grid;
            grid-template-columns: 80px 80px 1fr;
        }

        .assignments.topics table tr td:nth-child(4) {
            grid-column: 3 / 4;
        }

        .assignments.topics table tr th:nth-child(4) {
            display: none;
        }
    }
</style>

{{content}}

<section class="assignments topics">
    {% assign topic = page %}
    {% assign lastWeek = "" %}

    <p>{{ topic.description }}</p>

    {% assign module_dates = topic | get_module_dates: site %}
    {% if module_dates.size > 0 %}
    <h2>Readings & Activities</h2>
    <table>
        <thead>
            <th>Week</th>
            <th></th>
            <th>Slides / Activities</th>
            <th>Readings</th>
        </thead>
        <tbody>
            <!-- Topic Details -->
            {% for date in module_dates %}
            {% assign week = site.term_start_date | get_week_number: date %}
            <tr>
                <td>
                    {% if lastWeek != week %}
                    <strong>Week {{week}}</strong>
                    {% assign lastWeek = week %}
                    {% endif %}
                </td>
                <td>
                    {{ date | date: "%a, %-m/%-d" }}
                </td>
                <td>
                    {% include page_activities.html %}
                </td>
                <td>
                    {% include page_readings.html %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>Coming Soon!</p>
    {% endif %}


    {% if topic.questions %}
    <h2>Study Questions / Concepts</h2>
    <ol>
        {% for question in topic.questions %}
        <li class="mb-4">{{question}}</li>
        {% endfor %}
    </ol>
    {% endif %}
    </div>


</section>