---
layout: default
---

<style>
    .topic-card {
        display: grid;
        grid-template-columns: 120px 1fr;
        padding: 20px;
        border-bottom: dotted 1px #CCC;
    }
</style>

{% include toggle-button.html %}

{{content}}

{% assign topics = site.topics | sort: 'start_date' %}
{% assign topics = topics | concat: site.quizzes | sort: 'start_date' %}


<div class="assignments topics">
{% for topic in topics %}
    {% assign section_class = "" %}
    {% if topic.type == "holiday" or topic.type == "quiz" %}
        {% assign section_class = "bg-gray100" %}
    {% endif %}
    <section class="topic-card {{section_class}}">
        <div>
            <p class="semibold m0 line-height-reset">{{ topic.start_date | date: "%a, %-m/%-d" }}</p>
        </div>
        <div>
            {% if topic.draft == 0 %}
                <a class="{{topic.type}}" href="/spring2025{{topic.url}}">{{topic.type}} {{topic.num}}</a> <strong>{{topic.title}}</strong>
            {% else %}
                <span class="badge">{{topic.type}} {{topic.num}}</span> {{topic.title}}
            {% endif %}
            <p class="m3 m-top">{{ topic.description }}</p>
        </div>
    </section>

    {% endfor %}
</div>